@page "/"
@using CalculatorEngine
@using CalculatorWebServerApp.Components.Data
@rendermode InteractiveServer

<PageTitle>Calculator</PageTitle>
<div id="calculator">
    <text>Calculator</text>
    <button @onclick="Clear">Clear</button>
    <p>@_calculatorData.Result</p>

    <div class="input-fields">
        <div>
            <text>Input A</text>
            <input @bind-value="_calculatorData.InputA"/>
        </div>
        <div>
            <text>Input B</text>
            <input @bind-value="_calculatorData.InputB"/>
        </div>
    </div>

    <div class="buttons">
        <div class="column">
            <text>A and B</text>
            <button @onclick="Add">A + B</button>
            <button @onclick="Subtract">A - B</button>
            <button @onclick="Multiply">A * B</button>
            <button @onclick="Divide">A / B</button>
            <button @onclick="Equal">A == B</button>
            <button @onclick="Power">A ^ B</button>
            <button @onclick="Log">A log B</button>
            <button @onclick="Root">A root B</button>
        </div>
        <div class="column">
            <text>A only</text>
            <button @onclick="Factorial">A!</button>
            <button @onclick="Sin">sinA</button>
            <button @onclick="Cos">cosA</button>
            <button @onclick="Tan">tanA</button>
            <button @onclick="Reciprocal">1 / A</button>
        </div>
    </div>
</div>


@code {
    
    CalculatorData _calculatorData = new();
    CalculatorEngine _calculatorEngine = new();
    private void Add()
    {
        var result = _calculatorEngine.Add(int.Parse(_calculatorData.InputA), int.Parse(_calculatorData.InputB));
        _calculatorData.Result = result.Output.ToString();
    }

    private void Subtract()
    {
        var result = _calculatorEngine.Subtract(int.Parse(_calculatorData.InputA), int.Parse(_calculatorData.InputB));
        _calculatorData.Result = result.Output.ToString();
    }

    private void Multiply()
    {
        var result = _calculatorEngine.Multiply(int.Parse(_calculatorData.InputA), int.Parse(_calculatorData.InputB));
        _calculatorData.Result = result.Output.ToString();
    }

    private void Divide()
    {
        var result = _calculatorEngine.Divide(int.Parse(_calculatorData.InputA), int.Parse(_calculatorData.InputB));
        if(result.IsSuccess) _calculatorData.Result = result.Output.ToString();
        else _calculatorData.Result = result.ErrorMessage;
    }

    private void Equal()
    {
        var result = _calculatorEngine.Equals(int.Parse(_calculatorData.InputA), int.Parse(_calculatorData.InputB));
        if (result.Output == 1) _calculatorData.Result = "true";
        else _calculatorData.Result = "false";
    }

    private void Power()
    {
        var result = _calculatorEngine.Power(int.Parse(_calculatorData.InputA), int.Parse(_calculatorData.InputB));
        _calculatorData.Result = result.Output.ToString();
    }

    private void Log()
    {
        var result = _calculatorEngine.Log(int.Parse(_calculatorData.InputA), int.Parse(_calculatorData.InputB));
        if (result.IsSuccess) _calculatorData.Result = result.Output.ToString();
        else _calculatorData.Result = result.ErrorMessage;
    }

    private void Root()
    {
        var result = _calculatorEngine.Root(int.Parse(_calculatorData.InputA), int.Parse(_calculatorData.InputB));
        if (result.IsSuccess) _calculatorData.Result = result.Output.ToString();
        else _calculatorData.Result = result.ErrorMessage;
    }

    private void Factorial()
    {
        var result = _calculatorEngine.Factorial(int.Parse(_calculatorData.InputA));
        _calculatorData.Result = result.Output.ToString();
    }

    private void Sin()
    {
        var result = _calculatorEngine.Sin(int.Parse(_calculatorData.InputA));
        _calculatorData.Result = result.Output.ToString();
    }

    private void Cos()
    {
        var result = _calculatorEngine.Cos(int.Parse(_calculatorData.InputA));
        _calculatorData.Result = result.Output.ToString();
    }

    private void Tan()
    {
        var result = _calculatorEngine.Tan(int.Parse(_calculatorData.InputA));
        _calculatorData.Result = result.Output.ToString();
    }

    private void Reciprocal()
    {
        var result = _calculatorEngine.Reciprocal(int.Parse(_calculatorData.InputA));
        if (result.IsSuccess) _calculatorData.Result = result.Output.ToString();
        else _calculatorData.Result = result.ErrorMessage;
    }

    private void Clear()
    {
        _calculatorData.Result = "0";
        _calculatorData.InputA = "";
        _calculatorData.InputB = "";
    }
}