@page "/"
@using CalculatorEngine
@using CalculatorWebServerApp.Components.Data
@rendermode InteractiveServer

<PageTitle>Calculator</PageTitle>
<div id="calculator">
    <text>Calculator</text>
    <button @onclick="Clear">Clear</button>
    <p>@_calculatorData.Result</p>

    <div class="input-fields">
        <div>
            <text>Input A</text>
            <input @bind-value="_calculatorData.InputA"/>
        </div>
        <div>
            <text>Input B</text>
            <input @bind-value="_calculatorData.InputB"/>
        </div>
    </div>

    <div class="buttons">
        <div class="column">
            <text>A and B</text>
            <button @onclick="Add">A + B</button>
            <button @onclick="Subtract">A - B</button>
            <button @onclick="Multiply">A * B</button>
            <button @onclick="Divide">A / B</button>
            <button @onclick="Equal">A == B</button>
            <button @onclick="Power">A ^ B</button>
            <button @onclick="Log">A log B</button>
            <button @onclick="Root">A root B</button>
        </div>
        <div class="column">
            <text>A only</text>
            <button @onclick="Factorial">A!</button>
            <button @onclick="Sin">sinA</button>
            <button @onclick="Cos">cosA</button>
            <button @onclick="Tan">tanA</button>
            <button @onclick="Reciprocal">1 / A</button>
        </div>
    </div>
</div>


@code {
    
    CalculatorData _calculatorData = new();
    CalculatorEngine _calculatorEngine = new();
    
    private static (bool Success, double InputA, double InputB) Parse(string inputA, string inputB)
    {
        var inputASuccess = double.TryParse(inputA, out double resultA);
        var inputBSuccess = double.TryParse(inputB, out double resultB);
        
        var successfullyParsedBoth = inputASuccess && inputBSuccess;
        
        return (successfullyParsedBoth, 
            inputASuccess ? resultA : double.NaN, 
            inputBSuccess ? resultB : double.NaN);

    }
    private void Add()
    {
        var (success, inputA, inputB) = 
            Parse(_calculatorData.InputA, _calculatorData.InputB);
        if (!success)
        {
            _calculatorData.Result = "Invalid Input, Numbers Only";
            return;
        }
        var result = _calculatorEngine.Add(inputA, inputB);
        _calculatorData.Result = result.Output.ToString();
    }

    private void Subtract()
    {
        var (success, inputA, inputB) = 
            Parse(_calculatorData.InputA, _calculatorData.InputB);
        if (!success)
        {
            _calculatorData.Result = "Invalid Input, Numbers Only";
            return;
        }
        var result = _calculatorEngine.Subtract(double.Parse(_calculatorData.InputA), double.Parse(_calculatorData.InputB));
        _calculatorData.Result = result.Output.ToString();
    }

    private void Multiply()
    {
        var (success, inputA, inputB) = 
            Parse(_calculatorData.InputA, _calculatorData.InputB);
        if (!success)
        {
            _calculatorData.Result = "Invalid Input, Numbers Only";
            return;
        }
        var result = _calculatorEngine.Multiply(double.Parse(_calculatorData.InputA), double.Parse(_calculatorData.InputB));
        _calculatorData.Result = result.Output.ToString();
    }

    private void Divide()
    {
        var (success, inputA, inputB) = 
            Parse(_calculatorData.InputA, _calculatorData.InputB);
        if (!success)
        {
            _calculatorData.Result = "Invalid Input, Numbers Only";
            return;
        }
        var result = _calculatorEngine.Divide(double.Parse(_calculatorData.InputA), double.Parse(_calculatorData.InputB));
        if(result.IsSuccess) _calculatorData.Result = result.Output.ToString();
        else _calculatorData.Result = result.ErrorMessage;
    }

    private void Equal()
    {
        var (success, inputA, inputB) = 
            Parse(_calculatorData.InputA, _calculatorData.InputB);
        if (!success)
        {
            _calculatorData.Result = "Invalid Input, Numbers Only";
            return;
        }
        var result = _calculatorEngine.Equals(double.Parse(_calculatorData.InputA), double.Parse(_calculatorData.InputB));
        if (result.Output == 1) _calculatorData.Result = "true";
        else _calculatorData.Result = "false";
    }

    private void Power()
    {
        var (success, inputA, inputB) = 
            Parse(_calculatorData.InputA, _calculatorData.InputB);
        if (!success)
        {
            _calculatorData.Result = "Invalid Input, Numbers Only";
            return;
        }
        var result = _calculatorEngine.Power(double.Parse(_calculatorData.InputA), double.Parse(_calculatorData.InputB));
        _calculatorData.Result = result.Output.ToString();
    }

    private void Log()
    {
        var (success, inputA, inputB) = 
            Parse(_calculatorData.InputA, _calculatorData.InputB);
        if (!success)
        {
            _calculatorData.Result = "Invalid Input, Numbers Only";
            return;
        }
        var result = _calculatorEngine.Log(double.Parse(_calculatorData.InputA), double.Parse(_calculatorData.InputB));
        if (result.IsSuccess) _calculatorData.Result = result.Output.ToString();
        else _calculatorData.Result = result.ErrorMessage;
    }

    private void Root()
    {
        var (success, inputA, inputB) = 
            Parse(_calculatorData.InputA, _calculatorData.InputB);
        if (!success)
        {
            _calculatorData.Result = "Invalid Input, Numbers Only";
            return;
        }
        var result = _calculatorEngine.Root(double.Parse(_calculatorData.InputA), double.Parse(_calculatorData.InputB));
        if (result.IsSuccess) _calculatorData.Result = result.Output.ToString();
        else _calculatorData.Result = result.ErrorMessage;
    }

    private void Factorial()
    {
        var inputASuccess = double.TryParse(_calculatorData.InputA, out double resultA);
        if (!inputASuccess)
        {
            _calculatorData.Result = "Invalid Input, Numbers Only";
            return;
        }
        var result = _calculatorEngine.Factorial(resultA);
        _calculatorData.Result = result.Output.ToString();
    }

    private void Sin()
    {
        var inputASuccess = double.TryParse(_calculatorData.InputA, out double resultA);
        if (!inputASuccess)
        {
            _calculatorData.Result = "Invalid Input, Numbers Only";
            return;
        }
        var result = _calculatorEngine.Sin(resultA);
        _calculatorData.Result = result.Output.ToString();
    }

    private void Cos()
    {
        var inputASuccess = double.TryParse(_calculatorData.InputA, out double resultA);
        if (!inputASuccess)
        {
            _calculatorData.Result = "Invalid Input, Numbers Only";
            return;
        }
        var result = _calculatorEngine.Cos(resultA);
        _calculatorData.Result = result.Output.ToString();
    }

    private void Tan()
    {
        var inputASuccess = double.TryParse(_calculatorData.InputA, out double resultA);
        if (!inputASuccess)
        {
            _calculatorData.Result = "Invalid Input, Numbers Only";
            return;
        }
        var result = _calculatorEngine.Tan(resultA);
        _calculatorData.Result = result.Output.ToString();
    }

    private void Reciprocal()
    {
        var inputASuccess = double.TryParse(_calculatorData.InputA, out double resultA);
        if (!inputASuccess)
        {
            _calculatorData.Result = "Invalid Input, Numbers Only";
            return;
        }
        var result = _calculatorEngine.Reciprocal(resultA);
        if (result.IsSuccess) _calculatorData.Result = result.Output.ToString();
        else _calculatorData.Result = result.ErrorMessage;
    }

    private void Clear()
    {
        _calculatorData.Result = "0";
        _calculatorData.InputA = "";
        _calculatorData.InputB = "";
    }
}