@page "/"
@using CalculatorWebServerApp.Components.Data

<PageTitle>Home</PageTitle>

<body>
<div>
    <div>
        <text>Calculator</text>
        <button>Clear</button>
        <p>@_calculatorData.result</p>
    </div>
    
    <div>
        <text>Input A</text>
        <input placeholder="0" @bind-value="_calculatorData.inputA"/>
        <text>Input B</text>
        <input placeholder="0" @bind-value="_calculatorData.inputB"/>
    </div>
    <section>
        <div>
            <text>A and B</text>
            <button class="btn btn-primary" @onclick="Add">A + B</button>
            <button>A - B</button>
            <button>A * B</button>
            <button>A / B</button>
            <button>A == B</button>
            <button>A ^ B</button>
            <button>A log B</button>
            <button>A root B</button>
        </div>
        <div>
            <text>A only</text>
            <button>A!</button>
            <button>sinA</button>
            <button>cosA</button>
            <button>tanA</button>
            <button>1 / A</button>
        </div>
    </section>
</div>
</body>

@code {

    CalculatorData _calculatorData = new();
    private void Add()
    {
        CheckIfInteger(_calculatorData.inputA, _calculatorData.inputB);
        _calculatorData.result = CalculatorEngine.CalculatorEngine.Add(int.Parse(_calculatorData.inputA), int.Parse(_calculatorData.inputB));
        
    }

    private void CheckIfInteger(string a, string b)
    {
        try
        {
            int.Parse(a);
            int.Parse(b);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
}